body
{
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
}

h1
{
	padding: 8px;
	background-color: rgba(211, 43, 43, 0.95);
	border-radius: 8px;
	margin: 0;
	font-size: 64px;
	font-family: 'Courier New', Courier, monospace;
}

p
{
	line-height: 1.5;
}

main
{
	margin: 0 auto;
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	text-decoration: underline;
	color: black;
}

/* Input */

input,
textarea
{
	height: 32px;
	padding: 0 16px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	border: none;
	box-shadow: inset 8px 3px 18px -4px rgba(0,0,0,0.4);
}

input:focus,
textarea:focus
{
	outline: none;
}

/* Banner */

#banner
{
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.2) url(img/Mathilde_illustration.png);
	background-size: cover;
	background-position: center;
}

#banner h3
{
	background: black;
	border-radius: 8px;
	padding: 0 24px;
	font-size: 24px;
}

/* Navigation */

nav
{
	height: 72px;
	background: #0f0f0f;
	width: 100%;
	margin: 0;
	position: fixed;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	padding: 0 16px 0 0;
	box-sizing: border-box;
	z-index: 100;
	transition: 0.45s ease-in-out;
}

nav a
{
	padding: 0 32px;
	color: #eee;
	transition: 0.4s;
}

nav a:hover
{
	text-decoration: none;
	color: red;
}

nav ul
{
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	margin: 0;
}

.active
{
	color: red;
}

#menu-icon
{
	height: 100%;
	font-size: 28px;
	padding: 0.4;
	color: red;
	display: none;
	align-items: center;
}
  
/* Slideout Menu */
  
#slideout-menu
{
	display: none;
	background: #2d3436;
	z-index: 100;
	position: fixed;
	transition: 0.4s;
	margin-top: 72px;
	width: 100%;
	text-align: center;
	opacity:0;
	pointer-events:none;
}
  
#slideout-menu ul
{
	list-style: none;
	padding: 0 32px;
}
  
#slideout-menu ul li
{
	padding: 8px;
}
  
#slideout-menu a
{
	font-family:'Courier New', Courier, monospace;
	font-size: 20px;
	color: white;
}
  
#slideout-menu input
{
	width: 85%;
	padding: 8px;
	font-family:'Courier New', Courier, monospace;
	font-size: 20px;
	text-align: center;
}
  
/* Sections */
  
section
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
  
.section-heading
{
	font-size: 32px;
	font-family:'Courier New', Courier, monospace;
	border-left: 3px solid black;
	border-right: 3px solid black;
	transition: all 0.4s;
	display: inline-block;
	padding: 4px 32px;
}
  
.section-heading:hover
{
	padding: 4px 48px;
	background: red;
}
  
/* Section Source */
  
#section-source p
{
	padding: 8px;
	text-align: center;
}
  
#section-source a
{
	margin: 8px;
	text-align: center;
}
  
/* Card */

.card-image
{
	height: 500px;
	position: relative;
	overflow: hidden;
}

.card-image img {
	width: 150%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: grayscale(1);/*6*/
	  /*7 - Transition */
	transition-property: filter width; 
	transition-duration: .3s;
	transition-timing-function: ease;
}
  
.card-image:hover
{
	box-shadow: 0 10px 6px -6px #777;
}
  
.card .card-description
{
	padding: 0 8px;
}
  
.card-meta-blogpost
{
	color:#333;
	font-size:14px;
	padding: 16px;
	font-family:'Roboto Slab', serif;
}
  
.card-meta-blogpost a
{
	color:#333;
}
  
/* Button Read more */
  
.btn-readmore
{
	padding: 8px 24px;
	border: 3px solid black;
	transition: 0.4s;
	display: inline-block;
	margin-bottom: 24px;
	margin-left: 24px;
	font-weight: bold;
	cursor: pointer;
	background: white;
}
  
.btn-readmore:hover
{
	background: red;
	text-decoration: none;
	padding: 8px 64px 8px 24px;
	color: white;
}
  
  /* Footer */

footer
{
	background: black;
	padding: 8px;
	color: #eee;
	display: flex;
}
  
footer a
{
	color: white;
}
  
footer #left-footer
{
	flex: 1;
	border-right: 1px solid red;
	padding-left: 32px;
}
  
footer #left-footer ul
{
	padding: 0;
	list-style: none;
	line-height: 1.5;
}

footer #left-footer ul a:hover
{
	transition: 0.4s;
	color: red;
}
  
footer #right-footer
{
	flex: 2;
	padding: 8px;
	text-align: center;
}
  
footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-github
{
	color: white;
	transition: 0.4s;
}
  
footer #social-media-footer ul
{
	display: flex;
	list-style: none;
	justify-content: center;
	padding: 0;
}
  
footer #social-media-footer ul li
{
	font-size: 48px;
	padding: 16px;
	transition: 0.4s;
}
  
footer #social-media-footer ul li:hover a .fa-youtube
{
	color: red;
}
  
footer #social-media-footer ul li:hover a .fa-facebook
{
	color: #3b5998;
}
  
footer #social-media-footer ul li:hover a .fa-instagram
{
	color: transparent;
	background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text;
	-webkit-background-clip: text;
}
  
.page-heading
{
	font-size:32px;
	font-family:'Roboto Condensed', sans-serif;
	border-left:3px solid black;
	border-right:3px solid black;
	transition: all 0.4s;
	display:inline-block;
	padding:4px 32px;
	margin-top: 120px;
}
  
.page-heading:hover
{
	padding:4px 48px;
	background:red;
}
  
.card-meta
{
	color:#333;
	font-size: 14px;
	padding-left:8px;
	font-family:'Roboto Slab', serif;
}
  
.card-meta a
{
	color:#333;
}

/* Pagination */
/*
.pagination
{
	padding:8px;
	text-align:center;
	font-weight:bold;
}
  
.pagination a
{
	border-top: 3px solid white;
	display: inline-block;
	padding:8px 16px;
	transition:0.4s;
}
  
.pagination a:hover
{
	text-decoration: none;
	border-top:3px solid black;
}
*/
/* Single Blogpost */
/*
#post-container
{
	display: flex;
}
  
#blogpost
{
	display: flex;
	flex-direction:column;
	width:70%;
	border-left:1px solid #999;
}
  
#blogpost .card
{
	width:100%;
}
  
#blogpost .card-image:hover
{
	box-shadow: none;
}
*/
/* Sidebar */
/*
#sidebar
{
	background:#333;
	flex:1;
	padding: 8px 16px;
	color:white;
	box-shadow: inset 27px 0 51px -18px rgba(0,0,0,0.75);
}
*/
/* Comments section */
/*
#comments-section
{
	border-top: 2px solid #eee;
	padding:8px;
}
*/
  
/* Media Queries */
/*
@media (max-width: 900px)
{
	nav ul
	{
	  display: none;
	}
  
	#slideout-menu
	{
	  display: block;
	}
  
	#searchbox
	{
	  display: none;
	}
  
	#blogpost
	{
	  width:100%;
	  border-left:0;
	}
  
	#sidebar
	{
	  display: none;
	}
}

@media (max-width: 719px)
{
	main
	{
	  width: 95%;
	}
  
	section
	{
	  flex-direction: column;
	}
  
	.card,
	.card .card-image img
	{
	  width: 100%;
	}
  
	footer
	{
	  flex-direction: column;
	  text-align: center;
	}
  
	footer #left-footer
	{
	  flex: 1;
	  border-right: 0;
	  padding-left: 0;
	}
  
	footer #right-footer
	{
	  background: #eee;
	  color: black;
	}
  
	footer #right-footer a
	{
	  color: black;
	}
  
	footer #social-media-footer a .fa-facebook,
	footer #social-media-footer a .fa-youtube,
	footer #social-media-footer a .fa-github
	{
	  color: black;
	  transition: 0.4s;
	}
}
  
@media (max-width: 600px)
{
	main
	{
	  width: 100%;
	}
  
	h1
	{
	  font-size: 48px;
	}
  
	#banner h3
	{
	  font-size: 20px;
	}
  
	.card
	{
	  text-align: center;
	}
}
*/
/*
@media (min-width: 720px)
{
	main
	{
	  width: 95%;
	}
	.card
	{
	  width: 45%;
	}
	.card .card-image img
	{
	  width: 100%;
	}
}
  
@media (min-width: 1200px)
{
	main
	{
	  width: 85%;
	}
}
*/